.navbar .navbar-collapse {
  flex-grow: inherit;
}

.item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  margin-top: -1.5rem;
}